body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

}


header {
  background-color: #333333b7;
  color: #fff;
  padding: 1em;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: fixed;
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы шапка была поверх других элементов */
}
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  line-height: 2em;
}

nav {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
}

nav a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin: auto;
  padding: 0.5em 1em;
}

nav a:hover, nav a:active {
  background-color: #555555;
}
.style-p{
  font-size: 20px;
  padding: 20px;
  background-color: #333333b7;
  border-radius: 10px;
}


h1, h2 {
  font-size: 68px;
  font-variant: normal;
  font-weight: 700;
  vertical-align: baseline;
  margin: 10px;
  color: #ff9900;
  z-index: 1;
}

h3 {
  font-size: 52px;
  font-variant: normal;
  color: #ff9900;
  z-index: 1;
}


h4 {
  font-size: 20px;
  font-variant: normal;
  color: #ff9900;
  z-index: 1;
}

p{
  margin-top: 40px;
}

li {
  font-size: 18px;
  text-align: left;
}

.scroll-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 100px;
  transition: background 0.5s ease-in-out; /* Добавляем плавный переход для фона */
}
.scroll-section.active {
  background-size: 110%; /* Увеличиваем размер фона для активной секции */
  color: #ffffff; /* Изменяем цвет текста для активной секции */
}

/* Section1 */
.image {
  background-image: url('images/saws1.jpg');
  background-size: cover;
  background-position: center;
  width: 300px; /* Задайте ширину изображения по вашему желанию */
  height: 400px; /* Задайте высоту изображения по вашему желанию */
  border-radius: 8px;
  max-width: 100%;
  margin-right: 10em;
  border: solid 2px gray;
}




.info-band-saws {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.info1 {
  text-align: left;
  width: 700px;
}



/* Section2 */
.image1 {
  background-image: url('images/saws2jpg.jpg');
  background-size: cover;
  background-position: center;
  width: 500px; /* Задайте ширину изображения по вашему желанию */
  height: 300px; /* Задайте высоту изображения по вашему желанию */
  border-radius: 8px;
  margin-left: 1em;
  max-width: 100%;
  border: solid 2px gray;
}



.info-band-saws_2 {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  z-index: 1;
}

.info2 {
  text-align: left;
  width: 600px;
}

.info-band-saws_2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.info-band-saws_2 li {
  text-align: center;
  width: 180px;
  height: 100%;
  font-size: 18px;
  background-color: #333333b7;
  border-radius: 10px;
  margin-right: 25px;
  padding: 20px;
}


.info-band-saws_3 {
  margin: auto;
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  z-index: 1;
}
.info-band-saws_3 ul {
  list-style: none;
  box-sizing: border-box;
}

.info-band-saws_3 li {
  font-size: 18px;
  background-color: #333333b7;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;

}
/* Section4 */


#section4 {
  height: 40em;
}

.section {
  text-align: center;
  padding: 5em;
}
/* FeedBack  */






iframe {
  width: 90%;
  height: 50vw;
  z-index: 1;
}
/* SECTIONS */
#section {
  height: 500px;
  background-image: url('images/sec1.jpg'); /* Укажите путь к вашей фотографии */
  background-size: cover;
  background-position: center;
  color: #fff; /* Цвет текста, чтобы он был виден на фоне */
  text-align: center;
  padding: 100px; /* Регулируйте отступы по своему усмотрению */
  color: #fff;
  position: relative;
}

#section1 {
  background-image: url('images/sec2.jpg'); /* Укажите путь к вашей фотографии */
  background-size: cover;
  background-position: center;
  color: #fff; /* Цвет текста, чтобы он был виден на фоне */
  text-align: center;
  padding: 100px; /* Регулируйте отступы по своему усмотрению */
  position: relative;
}
#section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Черный фон с 50% прозрачностью */
}
#section2 {
  background-image: url('images/sec3.jpg'); /* Укажите путь к вашей фотографии */
  background-size: cover;
  background-position: center;
  color: #fff; /* Цвет текста, чтобы он был виден на фоне */
  text-align: center;
  padding: 100px; /* Регулируйте отступы по своему усмотрению */
  position: relative;
}
#section2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Черный фон с 50% прозрачностью */
}

#section3 {
  background-image: url('images/sec4.jpg'); /* Укажите путь к вашей фотографии */
  background-size: cover;
  background-position: center;
  color: #fff; /* Цвет текста, чтобы он был виден на фоне */
  text-align: center;
  padding: 100px; /* Регулируйте отступы по своему усмотрению */
  position: relative;
}
#section3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55); /* Черный фон с 50% прозрачностью */
}
#section4 {
  background-image: url('images/sec5.jpg'); /* Укажите путь к вашей фотографии */
  background-size: cover;
  background-position: center;
  color: #fff; /* Цвет текста, чтобы он был виден на фоне */
  text-align: center;
  padding: 100px; /* Регулируйте отступы по своему усмотрению */
  position: relative;
}
#section4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Черный фон с 50% прозрачностью */
}


.Ico-feedback{
  max-width: 8vh;
  max-height: 8vh;
}


